@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
/* font-family: 'Aboreto', cursive; */
* {
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --background-color: #081D32;
    --font-color: #FDFDFD;
    --secondary-color: #175392;
    --faded-blue: #113C69;
    --socials-color: rgb(129, 118, 118);
    --github-color: #7A007A;
    --twitter-color: #00acee;
    --linkedin-color: #0A66C2;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
}

h1 {
    margin-top: 1rem;
    text-align: center;
}

textarea {
    display: block;
    height: 80px;
    width: 800px;
    margin: 0.5rem auto;
    background-color: var(--faded-blue);
    color: var(--font-color);
    padding: 0.3rem 0 0 0.3rem;
    font-size: larger;
    border-color: var(--secondary-color);
}

button {
    width: 300px;
    cursor: pointer;
    display: block;
    border: none;
    margin: 0.5rem auto;
    padding: 1rem 0.5rem;
    font-size: large;
    /* border: 2px solid black; */
    border: 2px solid var(--faded-blue);
}

button:hover {
    box-shadow: 4px 4px var(--secondary-color);
}

#output-title {
    margin-top: 0.3rem;
    display: block;
    text-align: center;
}

#output {
    font-size: large;
    font-weight: bold;
    height: 80px;
    width: 800px;
    margin: 0.5rem auto;
    border: 1px solid black;
    overflow-y: scroll;
    font-family: 'Aboreto', cursive;
    background-color: var(--faded-blue);
    border-color: var(--secondary-color);
    border-width: 2px;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 #outout::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #output {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

a {
    /* color: #333333; */
    color: var(--socials-color);
    text-align: center;
    margin: 0 1rem;
    text-decoration: none;
    transition: 0.5s;
}

.bxl-github:hover {
    /* color: #4078c0; */
    /* color: rgb(129, 118, 118); */
    color: var(--github-color);
    transform: scale(110%);
}
.bxl-twitter:hover {
    /* color: #1DA1F2; */
    /* color: rgb(129, 118, 118); */
    color: var(--twitter-color);
    transform: scale(110%);
 }
.bxl-linkedin-square:hover {
    /* color: #0A66C2; */
    /* color: rgb(129, 118, 118); */
    color: var(--linkedin-color);
    transform: scale(110%);
}

.socials {
    font-size: 1.5rem;
    text-align: center;
    margin: 0.5rem auto;
}

footer {
    margin: 0.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    display: block;
    width: 800px;
    text-align: center;
}

.copyright a {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5rem;
    color: rgb(129, 118, 118);

}

.copyright a:hover {
    color: rgba(35, 196, 213, 0.75);
}

.footer-heart {
    font-size: larger;
}
.footer-heart:hover {
    cursor: pointer;
    color: rgba(35, 196, 213, 0.75);
}


/* ============ Media Query ============ */
@media only screen and (max-width: 900px) {

    textarea {
        width: 80%;
    }

    #output {
        width: 80%;
    }

    footer p {
        display: block;
        width: 90%;
    }
}
@media only screen and (max-width: 900px) {
    button {
        padding: 10px;
    }
}
@media only screen and (max-width: 640px) {
    button {
        width: 200px;
        height: 40px;
        padding-bottom: 1.5rem;
    }
}
@media only screen and (max-width: 370px) {
    button {
        font-size: smaller;
        width: 130px;
        height: 40px;
        padding: 0.2rem 0rem;
    }
}